<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nostr Address | NIP-05</title>
        <link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<main class="card">
			<div id="title">Nostr Address</div>
            <br>
			<div id="address">Pubkey for <span id="address"><%= username %>@</span> :</div>
            <br>
			<div id="pubkey"><%= pubkey %></div>
		</main>
		<script>
			const addressDiv = document.querySelector("span#address");
			const domain = document.domain;
			addressDiv.innerHTML += domain;
		</script>
	</body>
</html>
